/*Elements*/
/** {*/
  /*border: 1px solid red;*/
/*}*/

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
  font: 16px/1.5em "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

a, button {
  color: #000;
  text-decoration: none;
  padding: 1em;
}

h1, h2, h3, p {
  text-align: center;
}

img, video {
  max-width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hamburger-menu {
  display: none;
  padding: 1em;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0d0db;
}



/*Home Page*/

.index-container {
  width: 100%;
  margin-top: 56px;
  flex-grow: 2;
}

/*Toggle Text*/
.promoShareText .promoA {
  display: none;
}
.promoShareText .promoB {
  display: block;
}

.promoShareText.defaultPromoOn .promoA {
  display: block;
}
.promoShareText.defaultPromoOn .promoB {
  display: none;
}

.promoShareText:hover { cursor: pointer; }

/*Merch*/

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 50px;
}



/*Media Queries*/

@media screen and (max-width: 577px) {
  body {
    font-size: .8em;
  }
  nav {
    width: 100%;
  }
  nav ul {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
  }
  nav ul li {
    letter-spacing: 1px;
    padding: 1em 0.5em;
  }
  .dropdown-menu {
    display: none;
    width: 240px;
    background: #fff;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .hamburger-menu svg.close-icon,
  .is-open .hamburger-menu svg.menu-icon {
    display: none;
  }
  .hamburger-menu,
  .hamburger-menu svg.menu-icon,
  .is-open .hamburger-menu svg.close-icon,
  .is-open .dropdown-menu {
    display: block;
  }
}


@media screen and (min-width: 1300px) {
  nav ul {
    flex-wrap: wrap;
  }
  nav ul li {
    font-size: 1.5em;
    letter-spacing: 2px;
  }
}
